#tv {
  background-image: url(bedroom.jpeg);
  background-size: cover;
  width: 700px;
  height: 700px;
  display: block;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

#video {
  opacity: 0.6;
}

video {
  width: 188px;
  height: 141px;
  top: 408px;
  left: 230px;
  transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(328deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 2deg);
  object-fit: cover;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.filter, video {
  -webkit-mask-image: url(mask.png);
  mask-image: url(star.svg);
}

video + video {
  -webkit-mask-image: none;
  mask-image: none;
  opacity: 0.4;
  pointer-events: none;
  filter: blur(7px);
  z-index: 0;
  width: 200px;
  height: 145px;
  left: 218px;
  top: 408px;
}

.filter {
  object-fit: cover;
  mix-blend-mode: screen;
  pointer-events: none;
  z-index: 2;
  background-image: url(scanlines.jpeg);
  position: absolute;
  width: 188px;
  height: 141px;
  top: 408px;
  left: 230px;
  opacity: 0.3;
  transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(328deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 2deg);
}

body {
  background: black;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
  min-width: 700px;
}

html {
  height: 100%
}